a {
	text-decoration: none;
	color: white;
}

body {
	background-image: url('../images/cactus.png');
	background-position: 50% 50%;
	color: white;
	background-attachment: fixed;
}

button {
	height: 100px;
	width: 200px;
	font-size: 30px;
	background-color: navy;
	color: white;
	margin: 20px 0 0 250px;
	display: block;
	overflow: hidden;
}

h1 {
	text-align: center;
}

img {
	max-height: 550px;
	float: right;
	margin: 0 100px 0 0;
}

#buttons {
	float: left;
	margin: 50px;
}

#instructionsContainer {
	margin: 100px 0 0 50px;
	background-color: rgba(0, 39, 183, 0.4);
	background: rgba(0, 39, 183, 0.4);
	/******textshadow*******/
}

@media screen and (max-width: 1430px) {
	img {
		float: none;
	}

	#image {
		text-align: center;
	}

	button {
		display: inline-block;
		height: 50px;
		width: 100px;
		font-size: 15px;
		margin: 10px 5px 0 0;
	}

	#buttons {
		margin: 0 0 0 400px;
	}
}

@media screen and (max-width: 850px) {
	#buttons {
		margin: 0 0 0 200px;
	}
}