/*********************************
GENERAL
*********************************/

body {
	background-image: url("../images/cactus.png");
	background-position: center;
	background-attachment: fixed;
	color: white;
}

div#leftSide {
	float: left;
	overflow: hidden;
	text-align: center;
}

img {
	max-height: 500px;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}



/*********************************
HEADER
*********************************/

a {
	text-decoration: none;
	color: white;
}

header button {
	background-color: midnightblue;
	color: white;
	width: 75px;
	height: 25px;
	border: 1px solid white;
	display: inline-block;
}



/*********************************
PLAYER INFO
*********************************/

#playerScoreHolder, #playerTurn {
	display: inline-block;
}

#playerScoreHolder {
	margin: 0 50px 0 100px;
}

#playerTurn {
	width: 69%;
	text-align: center;
}



/*********************************
MYSTERY WORD CONTAINER
*********************************/

div.front {
	color: black;
	text-align: center;
	background-color: grey;
	margin: 5px 5px 5px 5px;
	border-bottom: 5px solid black;
}

div.back {
	background-color: midnightblue;
	margin: 5px 5px 5px 5px;
	border-bottom: 5px solid black;
	color: white;
	text-align: center;
}

div.card {
	width: 50px;
	height: 30px;
	display: inline-block;
	margin: 10px auto;
}

.container {
	height: 100px;
	width: 500px;
	overflow: hidden;
	position: relative;
	margin: 100px 0 25px 100px;
}



/*********************************
HINT CONTAINER
*********************************/

#hintContainer {
	width: 225px;
	margin: 0 0 50px 100px;
}



/*********************************
GUESS CONTAINER
*********************************/

#guessContainer {
	width: 225px;
	margin: 0 0 50px 100px;
	overflow: hidden;
}

#guess {
	display: inline-block;
}



/*********************************
LETS PLAY BUTTON
*********************************/

#letsPlay {
	overflow: hidden;
	margin-left: 15px;
	position: inherit;
	float: right;
	margin-top: 10px;
}



/*********************************
MEDIA STYLING
*********************************/

@media screen and (max-width: 1400px) {
	header button {
		display: inline-block;
		float: right;
	}

	#playerScoreHolder {
		margin: 0 auto;
		padding: 0;
	}
}

@media screen and (max-width: 1060px) {
	img {
		float: none;
	}

	.container {
		margin: 0 0 0 275px;
	}

	#hangmanFrame {
		text-align: center;
	}

	#leftSide {
		width: 80%;
	}

	#guess {
		margin: 0;
	}

	#hintContainer {
		width: 100%;
		border: none;
		margin: 0 0 0 10px;
	}
}

@media screen and (max-width: 800px) {
	.container {
		margin: 0 0 0 100px;
	}
}
